* {
    margin: 0;
}

body {
    background-image: url("../RocketCityRebels/images/background.jpg");
    background-attachment: fixed;
}

h1 {
    background-color: darkblue;
    color: yellow;
    text-align: center;
    margin: 0;
    padding: 10px; 
    font-size: 1em;
}

main {
    margin: auto;
    width: 60%;
    background-color: #e8e8ff;
    padding: 60px 50px 0;
    height: 100vh;
}

p {
    padding: 10px;
    font-size: 1.2em;
}

strong {
    color: darkblue;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    color: yellow;
    text-align: center;
    font-size: .8em;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#remove, #add, #update {
    font-size: .7em;
    width: 97px;
    background-color: darkred;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    box-shadow: 3px 3px #333333;
    padding: 3px;
}

#add {
    font-size: 1em;
    background-color: green;
    color: yellow;
}

#update {
    background-color: blue;
}

input[type=number] {
    width: 70px;
}

input[type=text] {
    width: 150px;
}
